* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #363636;
  font-family: lemonada;
}

.top_bar {
  width: 100vw;
  height: 9vh;
  background: linear-gradient(172deg, #8ccbbe, #3797a4, #8df3d2);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.top_bar p {
  font-size: 20px;
  display: inline;
  line-height: 20px;
}

.outer {
  width: 100vw;
  height: 91vh;
  position: relative;
}

.inner {
  width: 80vw;
  height: 60vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner h1 {
  font-size: 25px;
  display: inline-block;
  color: #ffffff;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input_span {
  padding-top: 85px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.input1 {
  width: 80vw;
  height: 40px;
  border-radius: 10vh;
  padding-left: 4vh;
  font-size: 20px;
}
.enter_botton {
  width: 130px;
  height: 30px;
  border-radius: 999px;
  background-color: lightblue;
  border: none;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.image {
  position: absolute;
  right: 10px;
  top: 3px;
}
.owl {
  width: 44vw;
  height: 22vh;
}
#left_eye_ball {
  animation: eyes 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#right_eye_ball {
  animation: eyes 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#left_hand {
  animation: wingleft 2s infinite ease-in-out;
  transform-origin: top;
  transform-box: fill-box;
}
#right_hand {
  animation: wingright 2s infinite ease-in-out;
  transform-origin: top;
  transform-box: fill-box;
}
#buttom_body,
#ears,
#face {
  animation: body 2s infinite ease-in-out;
}
#legs {
  animation: body 2s infinite ease-in-out;
}
@keyframes eyes {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes wingleft {
  0% {
    transform: rotateZ(30deg);
  }
  50% {
    transform: rotateZ(130deg);
  }
  100% {
    transform: rotateZ(30deg);
  }
}
@keyframes wingright {
  0% {
    transform: rotateZ(-30deg);
  }
  50% {
    transform: rotateZ(-130deg);
  }
  100% {
    transform: rotateZ(-30deg);
  }
}
@keyframes body {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0%);
  }
}
