* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #363636;
    font-family: lemonada;
}

.top_bar {
    width: 100vw;
    height: 9vh;
    background: linear-gradient(172deg, #8ccbbe, #3797a4, #8df3d2);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.top_bar p {
    font-size: 20px;
    display: inline;
    line-height: 20px;
}

.outer {
    width: 100vw;
    height: 91vh;
    position: relative;
}

.inner {
    width: 80vw;
    height: 60vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner h1 {
    font-size: 25px;
    display: inline-block;
    color: #ffffff;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_span {
    padding-top: 85px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.input1 {
    width: 80vw;
    height: 40px;
    border-radius: 10vh;
    padding-left: 3vh;
    font-size: 42px;
}


/*display: inline-block;
    font-size: 3em;
    border-radius: 999em;
    padding-left: 1em;
    position: relative;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_span {
    position: relative;
    background: linear-gradient(28deg, #8ccbbe, #3797a4);
    display: inline-block;
    border-radius: 999em;
}

:focus+span {
    opacity: 1;
    transform: scale(1);
}*/